body {
  font-family: helvetica, sans-serif;
  text-align: center;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  padding-top: 40px;
  margin-top: 0px;
}

h2 {
  font-size: 32px;
}

a {
  font-size: 18px;
  color: blue;
  color: white;
  text-align: center;
  padding: 50px;
  text-decoration: none;
}

header {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  width: 100%;
  position: relative;
}

svg {
  fill: grey;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .2);
}

.main-nav li {
  display: inline;
  border-right: 1px solid #fff;
}

.main-nav li:last-child {
  border-right: none;
}
